body {
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  font-weight: 400;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
}

.title {
  font-family: "Archivo", sans-serif;
  font-size: 2.5rem;
  color: var(--logo-color);
  margin-top: 12px;
  margin-left: 42px;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
}

.forgot-password__title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 28px;
  max-width: 332px;
}

.forgot-password__subtitle {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 32px;
  max-width: 332px;
}

.forgot-password__email-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 58px;
}

.email__input {
  width: 332px;
  height: 40px;
  border: 1px solid var(--stroke-input-color);
  border-radius: 3px;
  background-color: var(--background-input-color);
  padding-left: 6px;
}

.email__input::placeholder {
  font-family: "Raleway";
  font-size: 1rem;
  color: var(--placeholder-color);
}

.forgot-password__already-have-register {
  font-weight: 500;
  display: grid;
  justify-content: center;
}

.forgot-password__already-have-register::after {
  content: "";
  display: block;
  border: 1px solid var(--text-color);
  width: 140px;
  margin-top: 2px;
}

.forgot-password__button {
  width: 332px;
  height: 40px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  margin-bottom: 24px;
}

.footer__text {
  text-align: center;
}
