:root {
  --button-color: #3d6ae1;
  --text-color: #171a21;
  --alert-color: #ed4e3b;
  --logo-color: #e41134;
  --background-color: #e8e8e8;
  --placeholder-color: #514f4f;
  --background-input: #d9d9d9;
  --stroke-input: #888888;
}
